<div class="row">
    <div class="col-12">
        <img src="assets/img/cabecera.jpg" alt="cabecera de pagina" style="width: 100%" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav">
            <li class="nav-itm">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-itm">
                <a class="nav-link " href="#">Policiales</a>
            </li>
            <li class="nav-itm">
                <a class="nav-link " href="#">Política</a>
            </li>
            <li class="nav-itm">
                <a class="nav-link " href="#">Educación</a>
            </li>
        </ul>
    </div>
</div>